{% extends "template.html" %}

{% block head_title %}修改成绩表{% endblock %}

{% block body_title %}添加、删除或修改学生记录{% endblock %}
{% block content_left %}{% endblock %}

{% block content %}
<form action="/modify0/" method="post" data-role="validator">
  {% csrf_token %}
  <div class="input-control text required">
    <input
       data-validate-func="required"
       data-validate-hint="请输入要添加/删除/修改的学生的学号"
       type="text"
       data-validate-hint-position="top"
       placeholder="在此输入学号"
       name="num">
    <span class="input-state-error mif-warning"></span>
    <span class="input-state-success mif-checkmark"></span>
  </div>
  <div>
    <button class="button primary">提交</button>
  </div>
</form>
{% endblock %}
