{% extends "template.html" %}

{% block head_title %}{% endblock %}

{% block body_title %}添加、删除或修改学生记录{% endblock %}
{% block content_left %}{% endblock %}

{% block content %}
<h4>您正在修改学号为{{stu.num}}的同学的信息</h4>
<form action="/modify1/" method="post" data-role="validator">
  {% csrf_token %}
  <label>学号</label>
  <div class="input-control text">
    <input
       type="text"
       readonly
       name="num"
       value="{{stu.num}}">
  </div>
  <br/>
  <label>姓名</label>
  <div class="input-control text required">
    <input
       data-validate-func="required"
       data-validate-hint="请输入姓名"
       type="text"
       data-validate-hint-position="top"
       name="name"
       value="{{stu.name}}">
    <span class="input-state-error mif-warning"></span>
    <span class="input-state-success mif-checkmark"></span>
  </div>
  <br/>
  <label>语文</label>
  <div class="input-control text required">
    <input
       data-validate-func="number"
       data-validate-hint="请输入合法分数"
       type="text"
       data-validate-hint-position="top"
       name="chi"
       value="{{stu.chi}}">
    <span class="input-state-error mif-warning"></span>
    <span class="input-state-success mif-checkmark"></span>
  </div>
  <br/>
  <label>数学</label>
  <div class="input-control text required">
    <input
       data-validate-func="number"
       data-validate-hint="请输入合法分数"
       type="text"
       data-validate-hint-position="top"
       name="mat"
       value="{{stu.mat}}">
    <span class="input-state-error mif-warning"></span>
    <span class="input-state-success mif-checkmark"></span>
  </div>
  <br/>
  <label>英语</label>
  <div class="input-control text required">
    <input
       data-validate-func="number"
       data-validate-hint="请输入合法分数"
       type="text"
       data-validate-hint-position="top"
       name="eng"
       value="{{stu.eng}}">
    <span class="input-state-error mif-warning"></span>
    <span class="input-state-success mif-checkmark"></span>
  </div>
  <br/>
  <label>物理</label>
  <div class="input-control text required">
    <input
       data-validate-func="number"
       data-validate-hint="请输入合法分数"
       type="text"
       data-validate-hint-position="top"
       name="phy"
       value="{{stu.phy}}">
    <span class="input-state-error mif-warning"></span>
    <span class="input-state-success mif-checkmark"></span>
  </div>
  <br/>
  <label>化学</label>
  <div class="input-control text required">
    <input
       data-validate-func="number"
       data-validate-hint="请输入合法分数"
       type="text"
       data-validate-hint-position="top"
       name="che"
       value="{{stu.che}}">
    <span class="input-state-error mif-warning"></span>
    <span class="input-state-success mif-checkmark"></span>
  </div>
  <br/>
  <div>
    <button class="button primary" name="cmd" value="edit">添加/修改</button>
    <button class="button primary" name="cmd" value="delete">删除</button>
  </div>
</form>
{% endblock %}
