<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>信息修改</title>
    
    <link href="/static/css/metro.min.css" rel="stylesheet">
    <link href="/static/css/metro-icons.min.css" rel="stylesheet">
    <link href="/static/css/metro-responsive.min.css" rel="stylesheet">
    <link href="/static/css/metro-schemes.min.css" rel="stylesheet">
    <link href="/static/cs/metro-rtl.min.css" ref="stylesheet">
    
    <script src="/static/js/jquery-2.1.3.min.js"></script>
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/metro.min.js"></script>
    <script src="/static/js/select2.min.js"></script>
  </head>
  <body>
    <div class="app-bar" data-role="appbar">
      <div class="container page-content">
        <ul class="app-bar-menu">
          <li><a href="/grades/index">首页</a></li>
          <li>
            <a href="" class="dropdown-toggle">成绩表</a>
            <ul class="d-menu" data-role="dropdown">
              <li><a href="/grades/query_all/">查询</a></li>
              <li><a href="/grades/download">导出</a></li>
              <li class="divider"></li>
              <li><a href="/grades/modify0/">修改</a></li>
              <li><a href="/grades/upload">导入</a></li>
            </ul>        
          </li>
          <li><a href="/grades/stat/">统计分析</a></li>
          <li><a href="/grades/about/">关于</a></li>
          <li><a href="/grades/help/">帮助</a></li>
        </ul>
      </div>
    </div>
    
    <div class="container page-content">
      <h1>添加、删除或修改学生记录</h1>
      <center>
      <form action="/grades/modify0/" method="post" data-role="validator">
        {% csrf_token %}
        <div class="input-control text required">
          <input
             data-validate-func="required"
             data-validate-hint="请输入要添加/删除/修改的学生的学号"
             type="text"
             data-validate-hint-position="top"
             placeholder="在此输入学号"
             name="num">
          <span class="input-state-error mif-warning"></span>
          <span class="input-state-success mif-checkmark"></span>
        </div>
        <div>
          <button class="button primary">提交</button>
        </div>
      </form>
      </center>
    </div>
  </body>
</html>
