{% extends "grades/template.html" %}

{% block head_title %}统计分析{% endblock %}

{% block body_title %}统计和分析{% endblock %}
{% block content_left %}{% endblock %}

{% block content %}
<h2>{{sub}}成绩分析</h2>
<div class="grid">
  <div class="row cells5">
    <div class="cell colspan3">
      <canvas class="backgroud-color:black" id="chart0" style="height:300px">
      </canvas>
      <br/>
      <label>{{sub}}成绩分析图</label>
    </div>
    <div class="cell colspan2">
      <table>
      </table>
    </div>
    <div class="cell colspan2">
      <table class="table striped hovered">
        <tbody>
          <tr>
            <th>学生总数</th>
            <th>{{stun}}</th>
          </tr>
          <tr>
            <th>平均分</th>
            <th>{{avg}}</th>
          </tr>
          <tr>
            <th>最高分</th>
            <th>{{top}}</th>
          </tr>
          <tr>
            <th>中位数</th>
            <th>{{mid}}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<form method="get" action="/grades/stat/">
  <div class="input-control select">
    <label>请选择总分或学科</label>
    <select name="order">
      <option value="0">总分</option>
      <option value="1">语文</option>
      <option value="2">数学</option>
      <option value="3">英语</option>
      <option value="4">物理</option>
      <option value="5">化学</option>
    </select>
  </div>
  
  <div>
    <button class="button primary">查询</button>
  </div>
</form>

{% endblock %}

{% block script %}
// Get context with jQuery - using jQuery's .get() method.
var ctx = $("#chart0").get(0).getContext("2d");
// This will get the first returned node in the jQuery collection.
var data = [
    {
        value: {{cnt_A}},
        color: "#F7464A",
        highlight: "#FF5A5E",
        label: "{{sub}}成绩达总分90%及以上"
    },
    {
        value: {{cnt_B}},
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: "{{sub}}成绩达总分80%~89%"
    },
    {
        value: {{cnt_C}},
        color: "#FDB45C",
        highlight: "#FFC870",
        label: "{{sub}}成绩达总分60%~79%"
    },
    {
        value: {{cnt_D}},
        color: "#949FB1",
        highlight: "#A8B3C5",
        label: "{{sub}}成绩达总分60%以下"
    }
]
var myNewChart = new Chart(ctx).Pie(data);
{% endblock %}
