{% extends "grades/template.html" %}

{% block head_title %}导入{% endblock %}

{% block body_title %}批量导入{% endblock %}
{% block content_left %}{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data" action="/grades/upload/">
  {% csrf_token %}
  <div class="input-control file" data-role="input">
    <input type="file" name="csv">
    <button class="button"><span class="mif-folder"></span></button>
  </div>
  <br/>
  <button type="submit" class="button primary">提交</button>
</form>
{% endblock %}
